#card{ 
    
    
    width: 90%;
    box-shadow: 2px 3px 3px 2px grey;
}
#title{
    
    font-weight: 700;
    color:brown;
}
#img{
    float: right;
    padding-right: 15em;
    height: 720px;
    margin-left: 30px;
    margin-top: 30px;
    
}
h3{
    font-size: x-large;
    font-weight: 600;
}
#form{
   padding-left: 10%;
}
h1{
    padding-top: 10px;
}

#amount{
    color: orangered;
    font-size: x-large;
}
p{
    font-size: x-large;
}
#image{
    padding-left: 50%;
}
#section1{
    padding-top: 70px;
    margin-left: 90em;
}


